
<%- include("partials/header"); -%>
  <div class="home">
    <h1>Home</h1>
    <p> <%= startingContent %> </p>  
  </div>

  <%  posts.forEach(function(post){ %>

  <div class="post">
    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 140) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
  </div>

    <% }) %>


<%- include("partials/footer"); -%>
